<!DOCTYPE html>
<html>
    <head>
        <title>Hack Planner APP</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static, filename='styles.css')  }}">
    </head>
    <body>
        <div class="container">
            <h1>My Hack Planner</h1>
            <ul>
            {% for item in items %}
            <li>
                {{ item }}
                <a href="/edit/{{loop.index}}">Edit</a>
                <a href="/delete/{{loop.index}}">Delete</a>
            </li>
            {% endfor %}
            </ul>
            <form class="add-form" action="/add" method="post">
                <input type="text" name="item" placeholder="Enter item">
                <button type="submit">Add</button>
            </form>
       </div>
    </body>
</html>